/* Colors */
.green{
  background-color: #495E57;
}

.white{
  background-color: #FFFFFF;
}

.yellow{
  background-color: #F4CE14
}

.light_gray{
  background-color: #EDEFEE;
}

.dark_gray_text{
  color: #333333;
}

.yellow_text{
  color: #F4CE14;
}

.black_text{
  color: #000000;
}

.white_text{
  color: #FFFFFF;
}

/* Typography */
html{font-size: 100%;}
/* Display title */
h1{font-size: calc(2.25rem + 1.5vw); margin: 0px; font-weight: 500; line-height: 1.2; font-family: "Markazi Text", "Garamont", sans-serif;} /* font-weight: 500; 400 is the same as normal, and 700 is the same as bold*/
/* Subtitle */
h2{font-size: calc(1.4rem + 1.2vw); margin: -1rem 0px 0px 0px; font-weight: normal; line-height: 1.2; font-family: "Markazi Text", "Garamont", sans-serif;}
/* Card title */
h3{font-size: calc(0.8rem + 0.4vw); margin: 0px; font-weight: bold; line-height: 1.2; font-family: "Karla", "Garamont", sans-serif;}
/* Paragraph text */
p{font-size: calc(0.85rem + 0.2vw); margin: 0px; font-weight: normal; line-height: 1.5; font-family: "Karla", "Garamont", sans-serif;}
/* lead text CTA etc */
.lead-text{font-size: calc(0.8rem + 0.4vw); margin: 0px; font-weight: 550; line-height: 1.2; font-family: "Karla", "Garamont", sans-serif;}
.section-text{font-size: calc(0.8rem + 0.6vw); margin: 0px; font-weight: 800; line-height: 1.1; font-family: "Karla", "Garamont", sans-serif;color:#333333}

section{
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;
  box-sizing: border-box;
}

ul{
  padding : 0px;
  margin: 0px;
  list-style-type: none;
}

menu{
  padding : 0px;
  margin: 0px;
  list-style-type: none;
}

a{
  padding : 0px;
  text-decoration: none;
  white-space: nowrap;
  color: inherit;
}

footer{
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  box-sizing: border-box;
}

/* Flex box */

.flex-container{
  display: flex;
  flex-direction: row;
  column-gap: 2%;
  flex-wrap: nowrap;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.flexbox-row{
  display: flex;
  flex-direction: row;
  column-gap: 26px;
}

.flexbox-col{
  max-width: 442px;
  /* width: 100%; */
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  box-sizing: border-box;
}

.responsiveFlexDir{
  display: flex;
  column-gap: 1vw;
  row-gap: 20px;
  box-sizing: border-box;
}

.take-half-the-container{
  max-width: 50%;
  width: 50%;
}

.take-60percent-of-container{
  max-width: 60%;
  width: 60%;
}

.take-the-full-container{
  /* max-width: 100%; */
  width: 100%;
}

.wrap{
  flex-wrap: wrap;
}

.align-center{
  align-items: center;
}

.align-start{
  align-items: start;
}

.align-end{
  align-items: end;
}

.align-self-start{
  align-self: flex-start;
}
.align-self-end{
  align-self: flex-end;
}

.space-around{
  justify-content: space-around;
}
.space-between{
  justify-content: space-between;
}
.space-evenly{
  justify-content: space-evenly;
}
.space-center{
  justify-content: center;
}
.space-end {
  justify-content: flex-end;
}

.text-align-center{
  text-align: center;
}

.align-center-using-margin{
  margin:auto;
}

.myButton{
  width: 200px;
  border-radius: 8px;
  display: block;
  padding: 20px 0px 19px 0px;
  color: #000000;
  text-align: center;
  border: none;
  font-size: calc(0.8rem + 0.4vw);
  font-weight: 550;
  line-height: 1.2;
  font-family: "Karla", "Garamont", sans-serif;
}
.primary{
  background: #F4CE14;
  color:#000000;
  border: 3px solid #F4CE14;
}
.secondary{
  background: #FFFFFF;
  border: 3px solid #F4CE14;
}

button{
  cursor: pointer;
  background-color: inherit;
  border: none;
}

.options{
  width: 33%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Form Input */
.myFormInput{
  width: 100%;
  height: 80px;
  max-width: 442px;
  box-sizing: border-box;
  text-align: center;
  padding: 5%;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 40px;
}

.myFormInput:focus:invalid {
  outline: 3px solid #EE9972;
}

.myFormInput:focus{
  outline: 3px solid #495E57;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  background: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}

.moz-cover-clear {
	display: inline-block;
  right: -24px;
  bottom: -24px;
  width: 24px;
  height: 24px;
  /* z-index: 2; */
}

#userComment{
  resize: none;
  height: 180px;
}
select{
  appearance: none;
}

/* Header */
.header-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 60%;
  height: 7vh;
  min-height: 65px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding-top: 2%;
  padding-bottom: 2%;
  box-sizing: border-box;
}

.small-icon{
  width: 24px;
}

.visible{
  display: block;
  position: fixed;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: max(7vh, 65px);
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF; /* White background with opacity */
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
  text-align: right;
  padding: 3%;
  box-sizing: border-box;
}

.hidden{
  display: none;
}

/* Hero */
.hero-image{
  border-radius: 16px;
  width: 100%;
  max-width: 442px;
  height: auto;
  /* margin-top: 4%; */
}
/* Cards */
.card{
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 400px;
  border-radius: 16px;
}

.card-row{
  flex-direction: row;
  align-items: center;
}

.card-content{
  flex: 1;
  padding: 4%;
}

.card-image{
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 400px;
  border-radius: 16px 16px 0px 0px;
}

.avatar-img{
  width: 40%;
  height: auto;
  max-width: 110px;
  max-height: 110px;
  border-radius: 50%;
  margin: 4%;
}
/* Image stack */
.image-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#myImageStack img{
  border-radius: 16px;
  width: 100%;
  height: auto;
  max-width:400px;
  box-shadow: 3px 3px 4px #FFFFFF;
}

.image-stack-top {
  grid-row: 1;
  grid-column: 1 / span 7;
  /* z-index: 1; // tells the browser to make this image on top */
}
.image-stack-bottom {
  grid-column: span 8 / end;
  grid-row: 1;
  margin-top: 20%; /*  // slightly arbitrary, keeps proportion once resized */
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: block;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF; /* White background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.overlay .flexbox-col{
  max-width: 60%;
  row-gap: 3em;
  margin: 10% auto;
}

/* Slide show */
#mySlideshow img{
  width:100%;
  height:auto;
  border-radius: 16px;
  grid-row: 1;
  grid-column: 1 / span 12;
}

#bottomSlideshow{
  animation-name: fadeOut;
  animation-duration: 15s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes fadeOut{
  0%, 50% {
    visibility: hidden;
  }
  51%, 100% {
    visibility: normal;
  }
}

/* =/o.o\= media responsiveness*/
@media (max-width:599px){
  .hide-small{display:none}
  .header-container{
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
  }
  .flex-container{
    flex-direction: column;
    row-gap: 20px;
  }

  .card{
    width: calc(100% - 30px);
    /* mipws auto xreiazetai wrap? ti tha ginei an exw perissoteres? */
  }

  .overlay .flexbox-col{
    max-width: 90%;
    row-gap: 3em;
    margin: 10% auto;
  }
  .take-half-the-container{
    max-width: 100%;
    width: 100%;
  }
  .responsiveFlexDir{
    flex-direction: column;
  }
  .take-60percent-of-container{
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width:600px) and (max-width:781px){
  .hide-medium{display:none}
  .header-container{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
  }
  .responsiveFlexDir{
    flex-direction: column;
  }
}

@media (min-width:782px) and (max-width:970px){
  .hide-large{display:none}
  .header-container{
    width: 80%;
  }
  .responsiveFlexDir{
    flex-direction: row;
  }
  .hidden{
    display: block;
  }
}

@media (min-width:971px) and (max-width:1200px){
  .hide-large{display:none}
  .header-container{
    width: 70%;
  }
  .responsiveFlexDir{
    flex-direction: row;
  }
  .hidden{
    display: block;
  }
}
@media (min-width:1200px){
  .hide-large{display:none}
  .responsiveFlexDir{
    flex-direction: row;
  }
  .hidden{
    display: block;
  }
}